DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/subway_fadya?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.neon.tech/subway_fadya?sslmode=require"
JWT_SECRET="replace-with-at-least-32-random-characters"
NEXT_PUBLIC_SUPABASE_URL="https://project.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
